body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #99ff99;
}

table#res {
    border-collapse: collapse;
    margin: 10px auto;
}

table#buildings {
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

table, tr, td, th {
    border: 1px solid;
}

div#container {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    background-color: #99ff99;
    display: grid;
    grid-template-columns: 200px 1000px;
    grid-template-areas:
        "header header"
        "nav main"
        "footer footer";
}

header {
    grid-area: header;
    background-color: #999;
}

main {
    grid-area: main;
    background-color: #777;
    padding: 5px;
}

nav {
    grid-area: nav;
    background-color: #777;
}

footer {
    grid-area: footer;
    background-color: #999;
}

a.nav-button {
    display: block;
    padding: 1px 6px;
    margin: 5px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
    text-align: center;
}

a.upgrade-button {
    display: block;
    padding: 1px 6px;
    margin: 5px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
    text-align: center;
}

table#buildings {
    width: 100%;
    text-align: center;
}
